
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    



}
a{
  text-decoration:underline overline; 

}
body{
    margin:0;
    padding: 0;
    border: 20px solid  #D2DAFF ;
    background-color: #B1B2FF;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width:fit-content

}
h1{
    font-size: 400%;
    color: #EEF1FF;
    
}
header{
    padding: 10px;
    display:flex;
    justify-content: space-between;
}
header nav{
    padding-top: 20px;
    margin-left: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    display: flex;
    align-content: flex-end;    
}

header nav ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    
    
}

header nav ul li {
    display: inline-block;
    font-size: 120%;
    padding: 10px;
    

}

#avatar{

    border-radius: 50%;
    height: 200px;


}

h2{
    padding:10px;
    font-size: 275%;
    display: flex;
}

p{
    font-size: 125%;
    padding: 10px;
    margin-left: 20px;
    line-height: 1.5;
}

.work-images {
    height: 200px;
    width: 300px;
}

#grid{
    display:grid;
    width:100%;
    grid-template-columns: repeat();
}

.contact-me ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.contact-me ul li{
    display: inline-block;
    font-size: 125% ;
    padding:10px;
    margin-left: 30px;
}

footer{
    padding: 30px;
    clear:both ;
    text-align: center;
    text-decoration: none;
}

@media screen and (max-width: 350px){
    header {
            flex-direction: column;
            width: 100%;
    }
    header h1 {
        text-align: center;
    }
    footer {
        width: 100%;
    }
    .contact-me h2{
        display: flex;
        align-items: space-evenly;
    }
    .contact-me ul {
        display: flex;
        
        flex-direction: column;
        align-items: center;
    }

   
}

