
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    



}
a{
  text-decoration:underline overline; 

}
body{
    margin:0;
    padding: 0;
    border: 20px solid  #D2DAFF ;
    background-color: #B1B2FF;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width:100%
}
h1{
    font-size: 400%;
    color: #EEF1FF;
    width: 100%;
    text-align: center;
    
    
}
header{
    padding: 10px;
    display:flex;
    justify-content: space-between;
    flex-direction: column;
}

header nav{

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
   
}

header nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;

    
    
}

header nav ul li {
    display: inline-block;
    font-size: 120%;
    padding: 10px;
    

}
div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#avatar{

    border-radius: 50%;
    height: 200px;



}

h2{
    padding:10px;
    font-size: 275%;
    display: flex;
}

p{
    font-size: 125%;
    padding: 10px;
    margin-left: 20px;
    line-height: 1.5;
}
img{
    width: 100%;
}
#main-pic {
    width: 100%;
}
.work-images {
    width: 100%;
}


.figure-header{

    position: relative;
    top:30px;
    color: aqua;
    border: #D2DAFF 1px solid;
    background-color: black;
    margin-right: 140px;

}
#grid{
    
    display:grid;
    width:100%;
    grid-template-columns: repeat(2,0,80px);
    
    

}


.contact-me ul{
    list-style-type: none;


    display: flex;
        
    flex-direction: column;
    align-items: center
    
}

.contact-me ul li{
    display: inline-block;
    font-size: 125% ;
    padding:10px;
    margin-left: 30px;
    
}

footer{
    padding: 30px;
    clear:both ;
    text-align: center;
    text-decoration: none;
}

@media screen and (min-width: 768px){
    header {
            flex-direction: column;
            width: 100%;
    }
    header h1 {
        text-align: center;
    }

    header nav ul{
        flex-direction: row;
    }
    #avatar{
        width: 40%;
    }

    footer {
        width: 100%;
    }
    .contact-me h2{
        display: flex;
        align-items: space-evenly;
    }
    .contact-me ul {
        display: flex;

        justify-content: space-around;
        flex-direction: row;
    }

   
}


@media screen and (min-width: 1024px){
    header {
            flex-direction: row;
            width: 100%;
    }
    header h1 {
        text-align: center;
    
    }

    header nav{
        display:flex;

    }
    header nav ul{
        flex-direction: row;

    }
    #avatar{
        width: 20%;
    }

    .contact-me ul {
        flex-direction: row;
        display: flex;

        justify-content: space-around;
        
    }
}


@media screen and (min-width: 1440px){
    header {
            flex-direction: row;
            width: 100%;
    }
    header h1 {
        text-align: center;
    
    }

    header nav{
        display:flex;
        

    }
    header nav ul{
        flex-direction: row;
        font-size: 160%;

    }
    #avatar{
        width: 20%;
        position: relative;
        left: -550px
    }

    .contact-me ul {
        flex-direction: row;
        display: flex;

        justify-content: space-around;
        
    }
}